# Eclipse #
bin/
tmp/
*.tmp
*.bak
*.swp
.classpath
.project
.settings/
.externalToolBuilders/

# Mac #
.DS_Store

# Maven #
target/

# Node.js #
node_modules/
npm-debug.log

# Java #
*.class
*.jar
*.war
*.ear
