<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<script src="javascripts/jquery-1.9.1.js"></script>
<link href="" media="screen" rel="stylesheet" type="text/css"/>
<title>Recipe</title>
</head>
<body>
<h1>Add a new recipe</h1>
<input id="title" type="text" value="What's the title of your recipe?">
<textarea id="description" rows="5" cols="70">Tell us about your recipe.</textarea>
<h2>Ingredients</h2>
<h2>Steps</h2>
<button>Save</button>
<button>Publish</button>
</body>
</html>