@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	font-family: 'Montserrat', sans-serif;
}
header, footer, div#content  {
   	padding: 0px 25px;
}
/*
 NAVIGATION BAR
 */
.app-title {
	font-family: 'Lobster', cursive;
	font-size: 30px;
	color: black;
}
.nav > li > input {
	margin: 8px 0px;
}

/*
 RECIPE
 */
ul.sortable-list {
	list-style: none outside none;
	margin: 10px 0 30px;
	padding: 0;
}
ul.sortable-list > li {
	cursor: move;
	/*padding: 5px 10px;*/
	margin: 5px 0 0 0;
	
}
div.recipe-edit-section {
    /*
    background-color: darkseagreen;
    border: 1px solid;
    border-radius: 5px;
    border-color: palevioletred;
    */
    padding: 15px 10px;
    margin-bottom: 10px;
}
/*

body {
   	margin: 0;
   	min-width: 750px;
}
.f-app-title {
	padding-left: 10px;
	padding-right: 15px;
}
.f-table {
	max-width: 740px;
}
.f-table > thead > tr > th.f-action-col,
.f-table > tbody > tr > th.f-action-col,
.f-table > tfoot > tr > th.f-action-col,
.f-table > thead > tr > td.f-action-col,
.f-table > tbody > tr > td.f-action-col,
.f-table > tfoot > tr > td.f-action-col {
	width: 70px;
}
*/