body {
	width: 50em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0em;
}
div.recipe {
	background-color: #EEEEEE;
	padding: .8em 1em;
}
textarea {
	font-family: Verdana, sans-serif;
	width: 100%;
}
textarea.title {
	font-weight: bold; 
	font-size: 1.3em;
	height: 2em;
}
textarea.description {
	font-size: 0.9em;
	height: 10em;
}
textarea.step {
	font-size: 0.8em;
	height: 5em;
	width: 80%;
}
div.recipe h2 {
	font-family: Verdana, sans-serif;
	font-size: 1.1em;
}