<h1>{{pageTitle}}</h1>
<form action="">
    <div class="form-group">
        <label class="sr-only" for="title">Title</label>
        <input class="form-control"
               type="text" ng-model="recipe.title" placeholder="Title" size="75" id="title"
               required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="description">Description</label>
        <textarea class="form-control" rows="4" ng-model="recipe.description"
                  placeholder="Describe" ng-trim="true" id="description"></textarea>
    </div>

    <div class="recipe-edit-section" ng-repeat="section in recipe.sections" ng-init="sectionIndex = $index">
        <div class="form-group" ng-show="section.showTitle">
            <label class="sr-only" for="section-{{sectionIndex}}">Section Title</label>
            <input class="form-control" type="text" ng-model="section.title"
                   placeholder="Section Title" id="section-{{sectionIndex}}">
        </div>

        <div ng-show="section.showIngredients">
            <h3>Ingredients</h3>
            <div ng-repeat="ingredient in section.ingredients" ng-init="ingredientIndex = $index">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="quantity-{{sectionIndex}}-{ingredientIndex}}">Quantity</label>
                        <input class="form-control" type="text" ng-model="ingredient.quantity" placeholder="Qty"
                               id="quantity-{{sectionIndex}}-{ingredientIndex}}">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="measurement-{{sectionIndex}}-{ingredientIndex}}">Measurement</label>
                        <input class="form-control" type="text" ng-model="ingredient.measurement"
                               id="measurement-{{sectionIndex}}-{ingredientIndex}}">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="item-{{sectionIndex}}-{ingredientIndex}}">Item</label>
                        <input class="form-control" type="text" ng-model="ingredient.item" placeholder="Ingredient"
                               id="ingredient-{{sectionIndex}}-{ingredientIndex}}">
                    </div>
                    <button type="button" class="btn btn-default btn-sm"
                            ng-click="removeIngredient(sectionIndex, ingredientIndex)" title="Remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
            <button type="button" class="btn btn-default btn-sm"
                    ng-click="addIngredient(sectionIndex)">
                <span class="glyphicon glyphicon-plus"></span> Add another ingredient
            </button>
        </div>

        <div ng-show="section.showSteps">
            <h3>Steps</h3>
            <ul ui-sortable ng-model="section.steps" class="sortable-list">
                <li class="form-inline" ng-repeat="step in section.steps" ng-init="stepIndex = $index">
                    <div class="form-group">
                        <label class="sr-only" for="step-{{sectionIndex}}-{{stepIndex}}">Step</label>
                        <textarea class="form-control" rows="2" ng-model="step.text"
                                  placeholder="Step" ng-trim="true" id="step-{{sectionIndex}}-{{stepIndex}}"></textarea>
                    </div>
                    <button class="btn btn-default btn-sm" type="button" ng-click="removeStep(sectionIndex, stepIndex)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </li>
            </ul>
            <button type="button" class="btn btn-default btn-sm" ng-click="addStep(sectionIndex)">
                <span class="glyphicon glyphicon-plus"></span> Add another step
            </button>
        </div>

    </div>
    <!--
    <button type="button" class="btn btn-default btn-sm" ng-click="addSection()">
        <span class="glyphicon glyphicon-plus"></span> Add another section
    </button>
    -->
</form>
<button ng-click="create()">Save</button>
<pre>{{recipe | json}}</pre>
<!--
-->