<form action="">
    <div class="form-group">
        <label class="sr-only" for="title">Title</label>
        <input class="form-control"
               type="text" ng-model="recipe.title" placeholder="Title" size="75" id="title"
               required>
    </div>
    <div class="form-group">
        <label class="sr-only" for="description">Description</label>
        <textarea class="form-control" rows="4" ng-model="recipe.description"
                  placeholder="Describe" ng-trim="true" id="description"></textarea>
    </div>

    <div class="recipe-edit-section" ng-repeat="section in recipe.sections" ng-init="sectionIndex = $index">
        <div class="form-group" ng-show="section.display.showTitle">
            <label class="sr-only" for="section-{{sectionIndex}}">Section Title</label>
            <input class="form-control" type="text" ng-model="section.title"
                   placeholder="Section Title" id="section-{{sectionIndex}}">
        </div>

        <div ng-show="section.display.showIngredients">
            <h3>Ingredients</h3>
            <ul ui-sortable class="row sortable-list" ng-model="section.ingredients">
                <li ng-repeat="ingredient in section.ingredients" ng-init="ingredientIndex = $index">
                    <input class=" form-control col-sm-2 col-md-2" type="text" ng-model="ingredient.quantity" placeholder="Qty"
                           id="quantity-{{sectionIndex}}-{ingredientIndex}}">
                    <select class="form-control col-sm-3 col-md-3" ng-model="ingredient.measurement" ng-options="m.name as m.name for m in measurements" id="measurement-{{sectionIndex}}-{ingredientIndex}}">
                        <option value=""></option>
                    </select>
                    <input  class="form-control col-sm-6 col-md-6" type="text" ng-model="ingredient.item" placeholder="Ingredient"
                           id="ingredient-{{sectionIndex}}-{ingredientIndex}}">
                    <div class="col-sm-1 col-md-1">
                        <button type="button" class="form-control btn btn-default btn-sm"
                                ng-click="removeIngredient(sectionIndex, ingredientIndex)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-default btn-sm" ng-click="addIngredient(sectionIndex)">
                <span class="glyphicon glyphicon-plus"></span> Add another ingredient
            </button>
        </div>

        <div ng-show="section.display.showSteps">
            <h3>Preparation</h3>
            <ul ui-sortable class="row sortable-list" ng-model="section.steps">
                <li class="form-inline" ng-repeat="step in section.steps" ng-init="stepIndex = $index">
                    <textarea class="col-sm-11 col-md-11" rows="2" ng-model="step.text"
                              placeholder="Step" ng-trim="true" id="step-{{sectionIndex}}-{{stepIndex}}">
                    </textarea>
                    <div class="col-sm-1 col-md-1">
                        <button class="btn btn-default btn-sm" type="button" ng-click="removeStep(sectionIndex, stepIndex)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </li>
            </ul>
            <button type="button" class="btn btn-default btn-sm" ng-click="addStep(sectionIndex)">
                <span class="glyphicon glyphicon-plus"></span> Add another step
            </button>
        </div>

    </div>
    <!--
    <button type="button" class="btn btn-default btn-sm" ng-click="addSection()">
        <span class="glyphicon glyphicon-plus"></span> Add another section
    </button>
    -->
</form>
<button class="btn btn-default btn-sm" ng-click="save()">Save</button>
<pre>{{recipe | json}}</pre>
<!--
-->