<h1>Recipe Search</h1>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="text" wh-enterup="search()" placeholder="Press to search">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="search()">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
</div>
<h2>Results</h2>
<div ng-repeat="recipe in results"><a ng-href="#/recipe/{{recipe.id}}">{{recipe.title}}</a></div>
<!--
<div ng-repeat="recipe in results"><a href ng-click="view('{{recipe.id}}')">{{recipe.title}}</a></div>
-->
<!--
<pre>{{results | json}}</pre>
-->