<div><input type="text" ng-model="recipe.title" placeholder="Title" size="75"></div>
<div><textarea rows="4" cols="73" ng-model="recipe.description" placeholder="Describe" ng-trim="true"></textarea></div>

<div ng-repeat="section in recipe.sections" ng-init="sectionIndex = $index">
	<div><input type="text" ng-model="section.title" placeholder="Section Title"></div>
	
	<div ng-repeat="ingredient in section.ingredients" ng-init="ingredientIndex = $index">
		<input type="text" ng-model="ingredient.quantity" placeholder="Qty" size="7">
		<input type="text" ng-model="ingredient.measurement" size="7">
		<input type="text" ng-model="ingredient.item" placeholder="Ingredient" size="30">
		<button type="button" class="btn btn-default btn-sm" ng-click="removeIngredient(sectionIndex, ingredientIndex)">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		
	</div>
	<button type="button" class="btn btn-default btn-sm" ng-click="addIngredient(sectionIndex)">
		<span class="glyphicon glyphicon-plus"></span>  Add another ingredient
	</button>
	
	<div ng-repeat="step in section.steps" ng-init="stepIndex = $index">
		<textarea rows="3" cols="73" placeholder="Step" ng-model="text" ng-trim="true"></textarea>
		<button type="button" class="btn btn-default btn-sm" ng-click="removeStep(sectionIndex, stepIndex)">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	</div>
	<button type="button" class="btn btn-default btn-sm" ng-click="addStep(sectionIndex)">
		<span class="glyphicon glyphicon-plus"></span> Add another step
	</button>
	
</div>
<button type="button" class="btn btn-default btn-sm" ng-click="addSection()">
	<span class="glyphicon glyphicon-plus"></span> Add another section
</button>
