<html>
<head>
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="css/app.css">
<script src="js/app-init.js"></script>
<script src="js/app-module.js"></script>
<script src="js/controllers.js"></script>
</head>
<body ng-app="app">
	<nav class="navbar navbar-default" role="navigation">
	  <div class="navbar-header">
	    <a ui-sref="home" class="h1 f-app-title">feed</a>
	    <a ui-sref="recipe-add">Recipe</a>
	    <span ng-controller="RecipeSearchController">
	      <input ng-model="searchText" wh-enterup="search()" type="text" placeholder="press to search" size="40">
	      <button type="button" class="btn btn-default btn-sm" ng-click="search()">
	        <span class="glyphicon glyphicon-search"></span>
	      </button>
	    </span>
	  </div>
	</nav>
<div id="content" ui-view></div>
<footer></footer>
</body>
</html>